header{
  font-family: "Ubuntu", "Roboto", sans-serif;
  color: black;
}

body{
  background-color: white;
  font-family: "Ubuntu", "Roboto", sans-serif;
}
footer{
  color: #babdc1;
}



a:link {
    text-decoration: none;
    color:inherit;
}

a:visited {
    text-decoration: none;
    color:inherit;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

h1{
  color: white;
  font-size: 42px;

}
h2{
  color: black;
  font-size: 24px;
}

h3{
  color: white;
  font-size: 36px;
}

h4{
  color: black;
  font-size: 18px;
  font-weight: lighter;
  text-transform: uppercase;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

hr{
  background: inherit;
  border-top: 2px dashed #8c8b8b;
}

.hr_style1{
	border-top: 2px dashed #8c8b8b;
  width:auto;
  margin-top: 24px;
  margin-bottom: 24px;

}

.main_img{
  width: 100%;
  height: auto;
  background-color: #ed4d2d;
  color: white;
  display:inline-block;
  padding: 50px;
}

.main_img_container_left{
  width: auto;
  padding: 50px;
}

.main_img_container_right{

}

.secondary_img{
  background-color: #ed4d2d;
  color: white;

}
.main_body{

}

.secondary_img_container{
  color: white;
  width: 500px;
  height: 200px;
  margin: 50px 50px 100px 100px;
  padding: 50px 50px;
  display:inline-block;
}
/*display the image here to find out what size you need each section.*/
.buy_now{
  width: auto;
  height: auto;
  border-radius: 50px, 50px;
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px white;
  padding: 50px;
}

.navigation_bar{
  display: inline-block;
  text-transform:uppercase;
  font-size: inherit;
  color: purple;
  font-weight:bold;
}
